html, body {
    margin: 0;
    padding: 0;

    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    letter-spacing: 1px;
    line-height: 24px;
}

::-webkit-scrollbar {
    width: 0;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    position: fixed;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #d5d5db;

    /*background-color: lightcoral;*/

    /*z-index: 1;*/
}

body:hover {
}

main {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    /*pointer-events: none;*/
}

.column {
    flex-direction: column;
}

.row {
    flex-direction: row;
}

#floor {
    width: 100%;
    max-width: 800px;
    /*max-height: 80%;*/

    /*padding: 10px;*/
    /*padding-top: 2%;*/
    /*padding-bottom: 2%;*/

    display: flex;
    align-items: center;
    flex-direction: column;

    /*background-color: darkcyan;*/

    cursor: pointer;
}

#floor {
    border-top: solid white 3px;
    border-right: solid #3a7eff 3px;
    border-bottom: solid black 3px;
    border-left: solid red 3px;
}

#siren {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: row;
}

#siren div {
    width: 25%;
    height: 100%;
}

#siren div.white {
    background-color: white;
}

#siren div.blue {
    background-color: #3a7eff;
}

#siren div.black {
    background-color: black;
}

#siren div.red {
    background-color: red;
}

#siren div:hover {
    opacity: 0.6;
}

/*#floor:hover {*/

/*}*/

.rowCell {
    width: 50%;
    display: flex;
    flex-direction: row;
}

.cell {
    position: relative;

    width: 12.5%;
    padding-bottom: 12.5%;
    /*height: auto;*/
    /*background-color: white;*/

    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);

    background-color: #41e041;

    /*display: flex;*/
    /*flex-direction: column;*/
    /*justify-content: space-around;*/
}

.signal {
    position: absolute;

    width: 10px;
    height: 10px;

    top: calc(50% - 5px);
    left: calc(50% - 5px);
    /*margin: auto auto;*/

    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 0, 0, 0.1);
}

.signal.red {
    box-shadow: 0 2px 3px rgba(28, 68, 239, 0.5);
    background-color: rgba(25, 32, 254, 0.86);
}

.cell:hover {
    background-color: rgba(231, 30, 39, 0.35);
}

.cell.check {
    background-color: rgba(255, 7, 5, 0.7);
}

.cell.none {
    background-color: rgba(27, 27, 27, 0.07);
    box-shadow: none;
}

.signal {
    /*border-radius: 10%;*/
    /*border-bottom: 100px solid red;*/
    /*border-left: 100px solid transparent;*/
    /*filter: brightness(40%);*/
}

@keyframes sea {
    0% {background-color: #45a1f1;}
    30% {background-color: #337ab4;}
    70% {background-color: #45a5f5;}
    100% {background-color: #47a7f9;}
}

@keyframes green {
    0% {background-color: rgba(18, 187, 13, 0.52);}
    30% {background-color: #09ed38;}
    70% {background-color: rgba(71, 245, 31, 0.38);}
    100% {background-color: rgba(73, 249, 34, 0.67);}
}

#header {
    padding-top: 20px;
}

#menu {
    /*width: 300px;*/
}

.menu {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    /*padding-bottom: 30px;*/
}

.menu div {

    padding: 10px;
    margin: 5px;
    background-color: white;
    font-weight: 400;

    min-width: 24px;
    border-radius: 5px;
}

.menu div.button {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);

    transition: box-shadow 0.3s;
}

.menu div.button:hover {
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.menu div.button:active {
    cursor: pointer;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.menu div.button.disabled {
    cursor: not-allowed;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    opacity: 0.1;
}
