@media only screen and (max-width : 640px) {
    .rowCell {
        width: 80%;
    }
}

@media screen and (orientation:landscape) {
    .rowCell {
        width: 100%;
    }
    #floor {
        max-width: 320px;
    }
    main.column {
        flex-direction: row;
        width: 100%;
    }
}
